div {
    box-sizing: border-box;
}

.template-wrap {

position:absolute;
width: 500px;
height: 755px;
border: 2px solid black;
margin: 0 auto;
padding: 15px;
margin-top: 50px;
margin-left: 650px;
overflow: scroll;
}

.template-program {

    position: absolute;
    width: 500px;
    height: 755px;
    border: 2px solid black;
    margin: 0 auto;
    padding: 20px;
    margin-top:50px ;
    margin-left: 80px;
}

.template1-wrap {

    position: absolute;
    width: 450px;
    height: 500px;
    border: 2px solid black;
    margin: 0 auto;
    padding: 75px;
    margin-top:50px ;
    margin-left:1220px ;
}

.template2-wrap {

    position: absolute;
    width: 450px;
    height: 175px;
    border: 2px solid black;
    margin: 0 auto;
    padding: 57px;
    margin-top:630px ;
    margin-left: 1220px;
}

footer {
    position: absolute;
 width: 1900px;
 height: 50px;
background-color:#282d32;
margin-top: 910px;
color: #fff;
padding: 2px 0 10px -20;
margin-left: 0px;
font-size: 12px;
line-height: 12px;
border-radius: 5px;
text-align: center;

}

.copyright {

    text-align: center;
    font-size: 20px;
    position: absolute;
    font-weight: bolder;
    
}

#Next{

border-radius: 12px;
font-size: 18px;
padding: 12px;
background-color: #4CAF50;;
border: 2px solid #4CAF50;
font-weight: bolder;
}

#next:hover {
    background-color: white; 
    color: black; 
    border: 4px solid #4CAF50;
    cursor: pointer;

 
}

.button2 {

    border-radius: 12px;
    font-size: 18px;
    padding: 12px;
    background-color: #4CAF50;
    border: 2px solid #4CAF50;
    font-weight: bolder;
}

.button2:hover {
    background-color: white; 
    color: black; 
    border: 4px solid #4CAF50;
    cursor: pointer;
}

.button3 {

    border-radius: 12px;
    font-size: 18px;
    padding: 11px;
    background-color: #4CAF50;
    border: 4px solid #4CAF50;
    font-weight: bolder;
   
}

.button3:hover {

    
   background-color: white; 
   color: black; 
   border: 4px solid red;
   cursor: pointer;
}

.button4 {

    border-radius: 12px;
    font-size: 18px;
    padding: 12px;
    background-color: #4CAF50;
    border: 2px solid #4CAF50;
    font-weight: bolder;
}

.button4:hover {

    background-color: white; 
    color: black; 
    border: 4px solid #4CAF50;
    cursor: pointer;
}


.button5 {

    border-radius: 12px;
    font-size: 18px;
    padding: 12px;
    background-color: #4CAF50;
    border: 2px solid #4CAF50;
    font-weight: bolder;
}

.button5:hover {

    background-color: white; 
    color: black; 
  
}
.line-highlight {
    color: red; 
    font-weight: bold;
    
}
.line-highlight2 {

    fill: #FFDB58; ;
    
}

.swal-modal {

    border: 3px solid black;
}

.swal-title {


    margin:0px;
    font-size: 24px;

}

.swal-text {


    background-color: #FEFAE3;
    padding: 8px;
    border: 1px solid #FEFAE3;
    display: block;
    margin: 22px;
    text-align: center;
    color: #61534e;
}

.swal-footer {


    background-color: rgb(245,248,250);
    margin-top:100px;
    border-top: 1px solid #E9EEF1;
    overflow: hidden;
}

.swal-button {


    padding: 7px 19px;
    border-radius: 2px;
    background-color: #4962B3;
    font-size: 12px;
    border: 1px solid #3e549a;
    text-shadow: 0px -1px 0px rgba(0,0,0,0.3); 
}

.dropbtn {

    background-color: #4CAF50;
    color: black;
    padding: 16px;
    font-size: 20px;
    border: 5px solid #4CAF50 ;
    font-weight: bolder;
    border-radius: 12px;

}

.dropdown {

    position: absolute;
    display: inline-block;
    margin-left: 1700px;
    margin-top: 50px;
    font-size: 22px;
    cursor: pointer;
}

.dropdown-content {

      display: none;
    position: absolute;
    background-color:#f1f1f1;
    min-width: 460px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:1;
    
}

.dropdown-content a {

color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}
.diamond {
    position: relative;
    height: 190px;
    width: 190px;
    text-align: center;
    font-size: 20px;
    margin-top:463px;
    margin-left: 358%;
    display: inline-block;
   
    left: 50%;
    padding: 23px 32px;
    stroke:black"

  }
  .diamond:before {
    position: absolute;
    content: '';
    top: 0px;
    left: 0px;
    height: 100%;
    background-color: #8BE5AD;  
    width: 100%;
    margin: auto;
    transform: rotateX(45deg) rotateZ(45deg);
    box-shadow: 0px 0px 12px gray;
    display: inline-block;
  }
  .diamond-inner {
    width: 180px;
    height: 180px;
    position: relative;
    margin: auto;
    font: 20px Helvetica, Arial, Times;
    font-weight:bold;
    color:black;
    margin: auto;
    margin-top: 60px;
    display: inline-block;
    white-space: normal;
  }
  #dpbox{
      margin: 23px 32px;
     
      padding:23px 32px;
  }

  



.dropdown-content a:hover {background-color:#808080 ;}

.dropdown:hover .dropdown-content { display: block;}

.dropdown:hover .dropbtn {background-color: white;}
